<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--引入js文件-->
    <script src="../plugins/angularjs/angular.min.js"></script>

    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">

    <script src="../js/base-pagination.js"></script>
    <script src="../js/service/goodsService.js"></script>
    <script src="../js/service/itemCatService.js"></script>
    <script src="../js/service/uploadService.js"></script>
    <script src="../js/service/typeTemplateService.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/goodsController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="goodsController">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">订单管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="删除订单"><i class="fa fa-trash-o"></i> 删除订单</button>
                    <button type="button" class="btn btn-default" ng-click="ordersShipment()"  onclick="window.location.reload();"title="订单发货"><i class="fa fa-check"></i> 订单发货</button>

                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>


        <!--<div class="box-tools pull-right">
            <div class="has-feedback">
                状态：
                <select ng-model="searchEntity.auditStatus">
                    <option value="">全部</option>
                    <option value="1">已发货</option>
                    <option value="2">未发货</option>
                </select>
            </div>
        </div>-->


        <button type="button" class="btn btn-default pull-right" ng-click="reloadList()" title="查询"><i class="fa fa-trash-o"></i> 查询</button>


        <div class="box-tools">
            <div class="has-feedback pull-right">
                订单统计
                <select ng-model="searchEntity.auditStatus">
                    <option value="">请选择日期</option>
                    <option value="1" selected="selected" >0天~7天</option>
                    <option value="2" >7天~一个月</option>
                    <option value="3">一个月~一年</option>
                </select>
            </div>

        </div>

        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">订单ID</th>
                <th class="sorting">付款时间</th>
                <th class="sorting">收货人手机</th>
                <th class="sorting">收货地址</th>
                <th class="sorting">收货人</th>
                <th class="sorting">实付金额</th>
                <th class="sorting">状态</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in Orderlist">
                <td><input ng-click="updateSelection($event, entity.orderId)" type="checkbox"></td>
                <td>{{entity.orderId}}</td>
                <td>{{entity.paymentTime}}</td>
                <td>{{entity.receiverMobile}}</td>
                <td>{{entity.receiverAreaName}}</td>
                <td>{{entity.receiver}}</td>
                <td>{{entity.payment}}</td>
                <td>
                    {{entity.status ==1?"未发货":"已发货"}}
                </td>

            </tr>
            </tbody>
        </table>
        <!--数据列表/-->
        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
    <!-- 数据表格 /-->


</div>
<!-- /.box-body -->

</body>

</html>